.holder1{
    width:1200px;
    height:300px;
    border-radius: 10px;
    margin: 15px auto;
    background: #303030;
    position: relative;
    color: #fff;
}
.about{
    position: absolute;
    top:15px;
    left:15px;
}
.downloadPart{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:20px;
}
.downloadPart{
    position: absolute;
    right: 20px;
    bottom: 80px;
}
.downloadPart div img{
    width:40px;
    height:40px;
}
.ax-matn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}
.matn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
}
.matn h4{
    margin: 0;
}
.downloadPart div{
    padding:5px;
    border-radius: 10px;
    background-color: #37383E;
}